<% layout('layouts/basic') %>
    <link rel="stylesheet" href="/css/admin-home.css">
    <h2 id="admin">WELCOME TO ADMIN DASHBOARD</h2>
    <div id="admin-container">
        <p class="admin-button">
            <a href="/admin/adduser">Add Student to DB</a>
        </p>

        <p class="admin-button">
            <a href="/admin/alljobs">See Posted Jobs</a>
        </p>

        <p class="admin-button">
            <a href="/postjobs">Post Jobs</a>
        </p>
    </div>