<% layout('layouts/basic') %>

<div class="form-inner">
    <form action="/admin/login" method="POST" class="login">
      <div class="field">
        <input type="text" placeholder="Email Address" name="email" required>
      </div>
      <div class="field">
        <input type="password" placeholder="Password" name="password" required>
      </div>
      <!-- <div class="field">
        <input type="checkbox" name="isAlumni">
      </div> -->
      <!-- <div class="pass-link"><a href="#">Forgot password?</a></div> -->
      <div class="field btn">
        <div class="btn-layer"></div>
        <input type="submit" value="Login">
      </div>
      <!-- <div class="signup-link">Don't have an account ? <a href="">Signup now</a></div> -->
    </form>