<footer>
    <div id="footer">
        <div class="footer-section">
            <div id="logo">
                <span>
                    <i class="fa fa-info" aria-hidden="true"></i>
                    JOB
                </span>
            </div>
            <div>
                <h3>CAll Us</h3>
                <p>123-456-7890</p><br>
                <p>@ Kalyani, Nadia, West Bengal</p>
                <p>- support@ijob.com</p>
            </div>

        </div>

        <div class="footer-section">
            <h3>Find Jobs</h3>
            <p>Job Alerts</p>
            <p>Browse JObs</p>
            <p>Browse Candidates</p>
            <p>My Bookmarks</p>

        </div>

        <div class="footer-section">
            <h3>Frequently Asked Questions</h3>
            <p>Terms of Use</p>
            <a href="/other-pages/contact.html" style="text-decoration: none;"><p>Contact Us</p></a>
            <p>About Us</p>
            <p>Terms</p>
            <p>FAQs</p>

        </div>

        <div class="social-section">
            <h3>Follow Us On</h3>
            <div class="social-icons">
                <a href="#">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>

            </div>

        </div>
    </div>

    <div id="copyright">
        <p>Copyright &copy; iJOB -All Right Reserved.</p>
    </div>


</footer>