<header>
    <nav>
        <div id="logo">
            <span>
                <i class="fa fa-info" aria-hidden="true"></i>
                JOB
            </span>
        </div>

        <div>
            <ul id="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="./other-pages/find_jobs.html">Find Jobs</a></li>
                <li><a href="#">Companies</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="./other-pages/contact.html">Contact Us</a></li>
            </ul>
        </div>

        <div id="login-btn">
            <button><a href="./other-pages/login.html" style="text-decoration: none;">Login/Register</a></button>
        </div>

    </nav>

    <h4>Some guidelines before adding some information about a job.</h4>

</header>