<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | iJOB ...</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/contact.css">
</head>

<body>
    <header>


        <nav>
            <div id="logo">
                <span>
                    <i class="fa fa-info" aria-hidden="true"></i>
                    JOB
                </span>
            </div>

            <div>
                <ul id="navbar">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="#">Find Jobs</a></li>
                    <li><a href="#">Companies</a></li>
                    <li><a href="#">Candidates</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Pages</a></li>
                </ul>
            </div>

            <div id="login-btn">
                <button>Login/Register</button>
            </div>

        </nav>
<section class="contact-us">
    

    <h1>Contact Us</h1>
    <div id="cont">
        <div class="text-box">
            <div id="logo">
                <span>
                    <i class="fa fa-info" aria-hidden="true"></i>
                    JOB
                </span>
            </div>
            <h4>Address: Kalyani , Nadia,WB PIN-741235 <br>Contact : 123-456-7890 <br>Email:
                contact@ijob.com</h4>
            <div class="icons">
                Follow Us :
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
            </div>
        </div>
        <div id="form">
            <form action="#">
                <div class="form-group">
                    <input type="text" id="name" name="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <input type="text" id="name" name="name" placeholder="Enter your Email">
                </div>
                <div class="form-group">
                    <textarea name="" id="" cols="50" rows="7" placeholder="Drop Your Query"></textarea>
                </div>
              
                <button class="button">Submit</button>
            </form>
        </div>
    </div>
</section>
    </header>






    <main>

    </main>

    <footer>
        <div id="footer">
            <div class="footer-section">
                <div id="logo">
                    <span>
                        <i class="fa fa-info" aria-hidden="true"></i>
                        JOB
                    </span>
                </div>
                <div>
                    <h3>CAll Us</h3>
                    <p>123-456-7890</p><br>
                    <p>@ Kalyani, Nadia, West Bengal</p>
                    <p>- support@ijob.com</p>
                </div>

            </div>

            <div class="footer-section">
                <h3>Find Jobs</h3>
                <p>Job Alerts</p>
                <p>Browse JObs</p>
                <p>Browse Candidates</p>
                <p>My Bookmarks</p>

            </div>

            <div class="footer-section">
                <h3>Frequently Asked Questions</h3>
                <p>Terms of Use</p>
                <p>Contact Us</p>
                <p>About Us</p>
                <p>Terms</p>
                <p>FAQs</p>

            </div>

            <div class="social-section">
                <h3>Follow Us On</h3>
                <div class="social-icons">
                    <a href="#">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>

                </div>

            </div>
        </div>

        <div id="copyright">
            <p>Copyright &copy; iJOB -All Right Reserved.</p>
        </div>


    </footer>

</body>

</html>