<% layout('layouts/extended') %>

<main>
    <section id="feature-jobs">
        <div class="section-heading">
            <h2>Featured Jobs</h2>
            <p>Find Your Perfect Job Match</p>

        </div>

        <div class="section-cotent">
            <div class="rows ">
                <div class="column">
                    <h3>Software Developer</h3>

                    <div class="job-location">
                        <i class="fa fa-amazon" aria-hidden="true"></i>
                        <p>Amazon</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <p>4.5 | 15.5K+ Reviews</p>
                    </div>
                  
                    <div class="job-location">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <p>Full Time</p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>Hyderabad</p>
                    </div>
                    <button type="submit"><a href="./other-pages/job_details.html" style="text-decoration: none;">View Details</a></button>
                </div>
                <div class="column">
                    <h3>Backend Developer-Intern</h3>
                    <div class="job-location">
                        <i class="fa fa-apple" aria-hidden="true"></i>
                        <p>Apple</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <p>4.3  |  10.5K+ Reviews</p>
                    </div>

                    <div class="job-location">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <p>Internship</p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>Mumbai</p>
                    </div>
                    <button type="submit">View Details</button>
                </div>
            </div>
            <div class="rows">
                <div class="column">
                    <h3>Full Stack Engineer</h3>
                    <div class="job-location">
                        <i class="fa fa-amazon" aria-hidden="true"></i>
                        <p>Amazon</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <p>4.3  |  13.5K+ Reviews</p>
                    </div>
                    <div class="job-location">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <p>Full Time</p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>Bangalore</p>
                    </div>
                    <button type="submit">View Details</button>
                </div>
                <div class="column">
                    <h3>Java Developer</h3>
                    <div class="job-location">
                        <i class="fa fa-building" aria-hidden="true"></i>
                        <p>Myntra</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <p>4.3  |  10.9K+ Reviews</p>
                    </div>
                    <div class="job-location">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <p>Full Time</p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>Pune</p>
                    </div>
                    <button type="submit">View Details</button>
                </div>
            </div>
            <div class="rows">
                <div class="column">
                    <h3>Senior Software Developer</h3>
                    <div class="job-location">
                        <i class="fa fa-building" aria-hidden="true"></i>
                        <p>Microsoft</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <p>4.0  |  8.5K+ Reviews</p>
                    </div>
                    <div class="job-location">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <p>Full Time</p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>Hyderabad</p>
                    </div>
                    <button type="submit">View Details</button>
                </div>
                <div class="column">
                    <h3>Front-End Developer</h3>
                    <div class="job-location">
                        <i class="fa fa-building" aria-hidden="true"></i>
                        <p>Flipkart</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <p>4.1  |  12.5K+ Reviews</p>
                    </div>
                    <div class="job-location">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <p>Full Time</p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>Bangalore</p>
                    </div>
                    <button type="submit">View Details</button>
                </div>
            </div>

        </div>
        <div class="btn">
            <button class="button" type="submit">View More...</button>
        </div>
    </section>

    <!-- Latest Jobs Sections -->

    <section id="feature-jobs">
        <div class="section-heading" style="margin-top: -30px;">
            <h2>Latest Jobs</h2>
            <p>Recently Posted Jobs</p>

        </div>

        <div class="section-cotent">
            <div class="rows ">
                <div class="column">
                    <h3>Principal UI Developer</h3>

                    <div class="job-location">
                        <i class="fa fa-building" aria-hidden="true"></i>
                        <p>Oracle</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <p>3.9 | 2K+ Reviews</p>
                    </div>
                  
                    <div class="job-location">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <p>Full Time</p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>Hyderabad</p>
                    </div>
                    <button type="submit">View Details</button>
                </div>
                <div class="column">
                    <h3>Ios Application Developer</h3>
                    <div class="job-location">
                        <i class="fa fa-building" aria-hidden="true"></i>
                        <p>HCL</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <p>4.3  |  10.5K+ Reviews</p>
                    </div>

                    <div class="job-location">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <p>Internship</p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>Mumbai</p>
                    </div>
                    <button type="submit">View Details</button>
                </div>
            </div>
            <div class="rows">
                <div class="column">
                    <h3>Software Developer</h3>
                    <div class="job-location">
                        <i class="fa fa-amazon" aria-hidden="true"></i>
                        <p>Amazon</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <p>4.3  |  3.5K+ Reviews</p>
                    </div>
                    <div class="job-location">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <p>Full Time</p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>Bangalore</p>
                    </div>
                    <button type="submit">View Details</button>
                </div>
                <div class="column">
                    <h3>Frontend Developer - JavaScript/ React.js</h3>
                    <div class="job-location">
                        <i class="fa fa-building" aria-hidden="true"></i>
                        <p>Persistent</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <p>4.5  |  900+ Reviews</p>
                    </div>
                    <div class="job-location">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <p>Full Time</p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>Pune</p>
                    </div>
                    <button type="submit">View Details</button>
                </div>
            </div>
            <div class="rows">
                <div class="column">
                    <h3>UI Developer/Senior UI Developer - AngularJS</h3>
                    <div class="job-location">
                        <i class="fa fa-building" aria-hidden="true"></i>
                        <p>Birlasoft</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <p>4.0  |  1.1K+ Reviews</p>
                    </div>
                    <div class="job-location">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <p>Internship</p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>Remote</p>
                    </div>
                    <button type="submit">View Details</button>
                </div>
                <div class="column">
                    <h3>DevOps Engineer</h3>
                    <div class="job-location">
                        <i class="fa fa-building" aria-hidden="true"></i>
                        <p>Alpha Net</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <p>4.5  |  1.5K+ Reviews</p>
                    </div>
                    <div class="job-location">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <p>Full Time</p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>Bangalore</p>
                    </div>
                    <button type="submit">View Details</button>
                </div>
            </div>

        </div>
        <div class="btn">
            <button class="button" type="submit">View More...</button>
        </div>
    </section>


</main>